[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true, path = "./src"}
langchain = "==0.0.137"
urllib3 = "==1.26.6"

[requires]
python_version = "3.8"
