certifi==2020.12.5
click==7.1.2
fastapi==0.63.0
h11==0.11.0
httptools
mangum==0.10.0
python-dotenv==0.15.0
python-json-logger==2.0.1
PyYAML
starlette==0.13.6
typing-extensions
uvicorn==0.13.2
uvloop
watchgod==0.6
websockets==8.1
pinecone-client
langchain
openai
pypdf
fastapi
boto3
pydantic
grpcio
tiktoken
google-api-python-client
transformers
